.benefit {
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 256px;
    height: 256px;
  }
}

.benefit__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.benefit__number {
  margin: 0;
}

.benefit__text {
  margin: 0;
}

.benefit--image {
  padding: 37px 18px;
  min-height: 191px;
  background-color: #81b3d2;
  color: #ffffff;
}

.benefit--no-image {
  padding: 24px 18px;
  min-height: 166px;
  background-color: #eeeeee;
}
