.benefit-discription {
  padding: 12px 18px;

  @media (min-width: @tablet-width) {

  }
}

.benefit-discription__icon {}

.benefit-discription__title {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
}

.benefit-discription__text {
  margin: 0;
}
