.checkbox-group {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    width: 960px;
    justify-content: space-between;
  }
}

.checkbox-group__label {
  width: 280px;
  margin-bottom: 16px;

  @media (min-width: @desktop-width) {
    width: auto;
  }
}

.checkbox-group__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.checkbox-group__visit-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}
