.contacts {}

.contacts__hashtag {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.contacts__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.contacts__link {}
