.developers {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: #81b3d2;
    fill: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
    fill: #b3b3b3;
  }
}

.developers__text {
  margin: auto 0;
  margin-right: 12px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}
