.feedback-form {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
  }
}

.feedback-form__group {
  border: none;
  padding: 0;
  margin: 0;
}

.feedback-form__send-button {
  width: 280px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 0;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 324px;
    margin-right: 130px;
  }

  @media (min-width: @desktop-width) {
    width: 384px;
  }
}

.feedback-form__send-text {
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
}
