.gallery {}

.gallery__list {
  padding: 24px 20px;
  list-style-type: none;
  margin: 0;
}

.gallery__item {}

.gallery__item-photo {
  display: block;
  width: 280px;
  height: 280px;
}

.gallery__item-title {
  color: #000000;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
}

.gallery__item-aftor {
  margin: 0;
  text-transform: none;
}

.gallery__item-like {
  display: flex;
}

.gallery__like-button {
  background-image: url("../../img/like-icon.svg");
  display: block;
  width: 23px;
  height: 21px;
  margin-right: 14px;
}

.gallery__amount-likes {}
