.gallery {
  @media (min-width: @tablet-width) {
    margin-bottom: 58px;
  }
}

.gallery__list {
  padding: 24px 20px;
  list-style-type: none;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: 648px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.gallery__item {
  margin-bottom: 50px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 324px;
    margin: 0;
    background-color: #f2f2f2;

    &:nth-child(3) {
      background-color: #eaeaea;
    }
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }

  &:first-child {
    @media (min-width: @tablet-width) {
      width: 648px;
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
    }
  }
}

.gallery__item-container {
  width: 100%;

  @media (min-width: @tablet-width) {
    padding: 22px 15px 20px 15px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.gallery__item-photo {
  display: block;
  width: 280px;
  height: 280px;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    width: 324px;
    height: 267px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }

  &--size {
    @media (min-width: @tablet-width) {
      width: 648px;
      height: 400px;
    }

    @media (min-width: @desktop-width) {
      width: 1200px;
      height: 400px;
    }
  }
}

.gallery__item-img {
  width: 100%;
  height: 100%;
}

.gallery__item-title {
  color: #000000;
  margin: 0;
  font-weight: 700;
  font-size: 14px;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.gallery__item-aftor {
  margin: 0;
  text-transform: none;
  margin-bottom: 11px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}

.gallery__like-button {
  text-decoration: none;
  color: #000000;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }

  .gallery__like-button svg {
    margin-right: 14px;

    @media (min-width: @desktop-width) {
      fill: #ffffff;
      opacity: 1;
    }
  }
}

.gallery__amount-likes {
  font-weight: 700;

  @media (min-width: @desktop-width) {
    color: #ffffff;
  }
}
