.hotel-search {
  padding: 38px 18px 49px 18px;

  @media (min-width: @tablet-width) {
    padding: 60px 155px;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 371px;
  }
}

.hotel-search__title {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}

.hotel-search__text {
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}

.hotel-search__button {
  display: block;
  background-color: #81b3d2;
  color: #ffffff;
  width: 284px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  padding: 16px 49px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}
