.input-text-group {
  width: 280px;
  display: flex;
  flex-direction: column;

  &:first-child {
    @media (min-width: @tablet-width) {
      padding-right: 43px;
      margin-right: 44px;
      border-right: #e5e5e5 1px solid;
    }
  }

  &:last-child {
    @media (min-width: @tablet-width) {
      padding-left: 44px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 410px;
  }
}


.input-text-group__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

.input-text-group__label {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.input-text-group__input {
  width: 280px;
  border: none;
  background-color: #f2f2f2;
  padding: 16px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #ffffff;
    outline: #e5e5e5 solid 4px;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: @desktop-width) {
    width: 430px;
  }

  &--icon {
    width: 222px;

    @media (min-width: @desktop-width) {
      width: 344px;
    }
  }
}

.input-text-group__icon {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
