.intro__image {
  position: relative;
  width: 100%;
  height: 158px;
  background-color: #6d879c;
  background-image: url("../img/background-intro.jpg");
  background-repeat: no-repeat;
  background-position: 44% 75%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-intro@2x.jpg");
    background-size: 1200px 357px;
  }

  @media (min-width: @tablet-width) {
    height: 290px;
  }

  &--index img {
    width: auto;
    height: auto;
  }

  &--index {
    height: 389px;
    background-image: url("../img/background-intro-index.jpg");
    background-repeat: no-repeat;
    background-position: 52% 33%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-intro-index@2x.jpg");
      background-size: 1200px 518px;
    }

    @media (min-width: @tablet-width) {
      height: 518px;
    }
  }
}

.intro__image::after {
  content: "";
  background-image: url("../img/intro-triangle-mobile.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 320px;
  height: 57px;
  bottom: -1px;

  @media (min-width: @tablet-width) {
    background-image: url("../img/intro-triangle-tablet.png");
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../img/intro-triangle-desktop.png");
    width: 1200px;
  }
}

.intro__description {
  padding: 32px 18px;

  @media (min-width: @tablet-width) {
    padding: 47px 124px 55px 124px;
  }

  @media (min-width: @desktop-width) {
    padding: 59px 357px 44px 357px;
  }
}

.intro__description-title {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.intro__description-definition {
  margin: 0;
  text-align: center;
}
