.list-benefits {
  display: grid;

  @media (min-width: @tablet-width) {
    grid-template-columns: 728px;
    grid-template-rows: 587px 256px 256px;
  }
}

.list-benefits__item {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 256px 256px 256px;
    grid-template-rows: 256px 331px;
  }
}

.list-benefits__benefit {}

.list-benefits__advantage {}

.list-benefits__image-1 {
  grid-column-start: 2;
  grid-column-end: 4;
  background-image: url("../img/benefit-image-1.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50%;

  @media (min-width: @tablet-width) {
    width: 512px;
    height: 256px;
  }

  @media (min-width: @desktop-width) {
    width: 800px;
  }
}
