.main-header {
  position: relative;
  width: 100%;
}

.main-header__logo {
  position: absolute;
  width: 185px;
  height: 96px;
  left: 68px;
  top: 0;
}

.main-header__nav {
  margin: 0;
  padding: 0;
}
