.radio-group {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: @tablet-width) {
    border-top: #e5e5e5 1px solid;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    justify-content: space-between;
  }
}

.radio-group__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}

.radio-group__impression-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}

.radio-group__label {
  margin-bottom: 16px;
}
