.site-list {
  width: 100%;

  @media (min-width: @tablet-width) {
    display: flex;
  }
}

.site-list__item {
  display: flex;

  @media (min-width: @tablet-width) {
    width: 153px;

    &:nth-child(2n):not(:nth-child(4n)) {
      margin-right: 20%;
    }
  }

  @media (min-width: @desktop-width) {
    width: 240px;
  }
}

.site-list__link {
  display: flex;
  justify-content: center;
  width: 320px;
  min-height: 55px;
  padding: 0;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 12px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: @tablet-width) {
    color: #000000;
    font-size: 14px;
    line-height: 21px;

    &:hover {
      background-color: unset;
      color: #81b3d2;
    }

    &:active {
      color: #000000;
      opacity: 0.3;
    }
  }

  @media (min-width: @desktop-width) {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }
}

.site-list__link--active {
  @media (min-width: @tablet-width) {
    color: #766357;
  }

  @media (min-width: @desktop-width) {
    color: #766357;
  }
}
