.social-networks {
  display: flex;
  justify-content: center;
}

.social-networks__item {}

.social-networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
