@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  color: #333333;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  body {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  body {
    width: 1200px;
  }
}
.main-header {
  position: relative;
  width: 100%;
}
.main-header__logo {
  position: absolute;
  display: block;
  width: 185px;
  height: 96px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
}
.main-header__nav {
  margin: 0;
  padding: 0;
}
.main-navigation {
  display: flex;
  justify-content: right;
  position: relative;
  width: 100%;
  padding: 17px 20px;
}
@media (min-width: 768px) {
  .main-navigation {
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .main-navigation {
    padding: 0;
  }
}
.main-navigation__open {
  background: linear-gradient(to bottom, #81b3d2 0 4px, #ffffff 4px 9px, #81b3d2 9px 13px, #ffffff 13px 18px, #81b3d2 18px 100%);
  width: 23px;
  height: 22px;
  padding: 0;
  border: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-navigation__open {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-navigation__open {
    display: none;
  }
}
.main-navigation__wrapper {
  display: none;
  position: absolute;
  width: 320px;
  left: 0;
  top: 0;
  background-color: #81b3d2;
}
@media (min-width: 768px) {
  .main-navigation__wrapper {
    display: flex;
    width: 100%;
    background-color: transparent;
    position: relative;
  }
}
@media (min-width: 1200px) {
  .main-navigation__wrapper {
    display: flex;
    width: 100%;
    background-color: transparent;
    position: relative;
  }
}
.main-navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.main-navigation__close {
  position: absolute;
  width: 23px;
  height: 23px;
  right: 20px;
  top: 17px;
  background-color: transparent;
  padding: 0;
  border: 0;
  cursor: pointer;
}
@media (min-width: 768px) {
  .main-navigation__close {
    display: none;
  }
}
@media (min-width: 1200px) {
  .main-navigation__close {
    display: none;
  }
}
.site-list {
  width: 100%;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
  }
}
.site-list__item {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 55px;
  padding-top: 17px;
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
}
@media (min-width: 768px) {
  .site-list__item {
    width: 153px;
  }
  .site-list__item:nth-child(2n):not(:nth-child(4n)) {
    margin-right: 20%;
  }
}
@media (min-width: 1200px) {
  .site-list__item {
    width: 240px;
  }
}
.site-list__link {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .site-list__link {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 1200px) {
  .site-list__link {
    color: #000000;
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 768px) {
  .site-list__link--active {
    color: #766357;
  }
}
@media (min-width: 1200px) {
  .site-list__link--active {
    color: #766357;
  }
}
@media (min-width: 768px) {
  .main-container {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .main-container {
    width: 1200px;
  }
}
.intro__image {
  width: 100%;
  height: 158px;
  background-image: url("../img/background-intro.jpg");
  background-repeat: no-repeat;
  background-position: 44% 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-resolution: 2dppx) {
  .intro__image {
    background-image: url("../img/background-intro@2x.jpg");
    background-size: 1200px 357px;
  }
}
@media (min-width: 768px) {
  .intro__image {
    height: 290px;
  }
}
.intro__image--index img {
  width: auto;
  height: auto;
}
.intro__image--index {
  height: 389px;
  background-image: url("../img/background-intro-index.jpg");
  background-repeat: no-repeat;
  background-position: 52% 33%;
}
@media (min-resolution: 2dppx) {
  .intro__image--index {
    background-image: url("../img/background-intro-index@2x.jpg");
    background-size: 1200px 518px;
  }
}
@media (min-width: 768px) {
  .intro__image--index {
    height: 518px;
  }
}
.intro__description {
  padding: 32px 18px;
}
@media (min-width: 768px) {
  .intro__description {
    padding: 47px 124px 55px 124px;
  }
}
@media (min-width: 1200px) {
  .intro__description {
    padding: 59px 357px 44px 357px;
  }
}
.intro__description-title {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 35px;
  text-align: center;
}
@media (min-width: 768px) {
  .intro__description-title {
    font-size: 30px;
  }
}
.intro__description-definition {
  margin: 0;
  text-align: center;
}
.advantages__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.list-benefits {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .list-benefits__item {
    display: flex;
    flex-wrap: wrap;
  }
}
.list-benefits__image-container {
  height: 260px;
}
@media (min-width: 768px) {
  .list-benefits__image-container {
    height: 256px;
  }
}
.list-benefits__image-container img {
  width: 100%;
  height: 100%;
}
.benefit {
  width: 320px;
  padding: 24px 18px;
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .benefit {
    width: 256px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .benefit {
    width: 400px;
  }
}
.benefit__title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.benefit__number {
  margin: 0;
  margin-bottom: 25px;
  text-align: center;
}
.benefit__text {
  margin: 0;
  text-align: center;
}
.benefit--image {
  padding: 37px 18px;
  background-color: #81b3d2;
  color: #ffffff;
}
.benefit-discription {
  padding: 23px 18px;
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .benefit-discription {
    width: 256px;
    min-height: 330px;
    padding: 60px 33px;
  }
}
@media (min-width: 1200px) {
  .benefit-discription {
    width: 400px;
  }
}
.benefit-discription__text-wrapper {
  padding-top: 8px;
  width: 237px;
}
@media (min-width: 768px) {
  .benefit-discription__text-wrapper {
    padding: 0;
    width: auto;
  }
}
.benefit-discription__title {
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .benefit-discription__title {
    text-align: center;
    font-size: 21px;
  }
}
.benefit-discription__text {
  margin: 0;
}
@media (min-width: 768px) {
  .benefit-discription__text {
    text-align: center;
  }
}
.benefit-discription__icon {
  margin-right: 7px;
  width: 40px;
  height: 40px;
}
@media (min-width: 768px) {
  .benefit-discription__icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    margin-bottom: 26px;
  }
}
.benefit-discription__icon svg {
  width: 100%;
  height: 100%;
}
.hotel-search {
  padding: 38px 18px 49px 18px;
}
@media (min-width: 768px) {
  .hotel-search {
    padding: 60px 155px;
  }
}
@media (min-width: 1200px) {
  .hotel-search {
    padding: 60px 371px;
  }
}
.hotel-search__title {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .hotel-search__title {
    font-size: 30px;
  }
}
.hotel-search__text {
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
}
.hotel-search__button {
  display: block;
  background-color: #81b3d2;
  color: #ffffff;
  width: 284px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;
  padding: 16px 49px;
  text-align: center;
}
@media (min-width: 768px) {
  .hotel-search__button {
    width: 458px;
  }
}
@media (min-width: 768px) {
  .map-size {
    width: 768px;
    height: 350px;
  }
}
@media (min-width: 1200px) {
  .map-size {
    width: 1200px;
  }
}
.main-footer {
  min-height: 233px;
  padding: 22px 77px;
}
@media (min-width: 768px) {
  .main-footer {
    min-height: 120px;
    padding: 36px 76px 36px 45px;
  }
}
@media (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.contacts__hashtag {
  color: #000000;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 34px;
  text-align: center;
}
@media (min-width: 768px) {
  .contacts__hashtag {
    margin: 0;
  }
}
.contacts__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .contacts__list {
    margin: 0;
  }
}
.social-networks {
  width: 156px;
  display: flex;
  justify-content: space-between;
}
.social-networks__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: #81b3d2;
}
.developers {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.developers__text {
  margin: auto 0;
  margin-right: 12px;
}
@media (min-width: 768px) {
  .developers__text {
    margin: 0;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media (min-width: 768px) {
  .gallery {
    margin-bottom: 58px;
  }
}
.gallery__list {
  padding: 24px 20px;
  list-style-type: none;
  margin: 0;
}
@media (min-width: 768px) {
  .gallery__list {
    width: 648px;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .gallery__list {
    width: 1200px;
  }
}
.gallery__item {
  margin-bottom: 50px;
  position: relative;
}
@media (min-width: 768px) {
  .gallery__item {
    width: 324px;
    margin: 0;
    background-color: #f2f2f2;
  }
  .gallery__item:nth-child(3) {
    background-color: #eaeaea;
  }
}
@media (min-width: 1200px) {
  .gallery__item {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .gallery__item:first-child {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .gallery__item:first-child {
    width: 1200px;
  }
}
.gallery__item-container {
  width: 100%;
}
@media (min-width: 768px) {
  .gallery__item-container {
    padding: 22px 15px 20px 15px;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .gallery__item-container {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.gallery__item-photo {
  display: block;
  width: 280px;
  height: 280px;
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .gallery__item-photo {
    width: 324px;
    height: 267px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .gallery__item-photo {
    width: 400px;
  }
}
@media (min-width: 768px) {
  .gallery__item-photo--size {
    width: 648px;
    height: 400px;
  }
}
@media (min-width: 1200px) {
  .gallery__item-photo--size {
    width: 1200px;
    height: 400px;
  }
}
.gallery__item-img {
  width: 100%;
  height: 100%;
}
.gallery__item-title {
  color: #000000;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
}
@media (min-width: 1200px) {
  .gallery__item-title {
    color: #ffffff;
  }
}
.gallery__item-aftor {
  margin: 0;
  text-transform: none;
  margin-bottom: 11px;
}
@media (min-width: 768px) {
  .gallery__item-aftor {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .gallery__item-aftor {
    color: #ffffff;
  }
}
.gallery__like-button {
  text-decoration: none;
  color: #000000;
}
@media (min-width: 768px) {
  .gallery__like-button {
    display: flex;
    align-items: center;
  }
}
.gallery__like-button svg {
  margin-right: 14px;
}
@media (min-width: 1200px) {
  .gallery__like-button svg {
    fill: #ffffff;
    opacity: 1;
  }
}
.gallery__amount-likes {
  font-weight: 700;
}
@media (min-width: 1200px) {
  .gallery__amount-likes {
    color: #ffffff;
  }
}
.video-blog {
  padding: 17px 20px;
}
@media (min-width: 768px) {
  .video-blog {
    width: 648px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 1200px) {
  .video-blog {
    width: 800px;
  }
}
.video-blog__title {
  color: #000000;
  text-align: center;
  margin: 0;
}
@media (min-width: 768px) {
  .video-blog__title {
    margin-bottom: 30px;
  }
}
.video-blog__text {
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .video-blog__text {
    width: 445px;
    margin-bottom: 70px;
  }
}
.video-blog__video-wrapper {
  position: relative;
  height: 177px;
}
@media (min-width: 768px) {
  .video-blog__video-wrapper {
    height: 500px;
  }
}
.video-blog__video-wrapper img {
  width: 100%;
  height: 100%;
}
.video-blog__button-play {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto auto;
  width: 48px;
  height: 54px;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
.feedback-form {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .feedback-form {
    width: 648px;
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .feedback-form {
    width: 960px;
  }
}
.feedback-form__group {
  padding: 0;
  margin: 0;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border: none;
  border-bottom: #e5e5e5 1px solid;
}
@media (min-width: 768px) {
  .feedback-form__group {
    border: none;
  }
}
@media (min-width: 768px) {
  .feedback-form__send {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__send {
    width: 768px;
  }
}
.feedback-form__send-button {
  width: 280px;
  height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .feedback-form__send-button {
    width: 324px;
  }
}
@media (min-width: 1200px) {
  .feedback-form__send-button {
    width: 384px;
  }
}
.feedback-form__send-text {
  margin: 0;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
}
@media (min-width: 768px) {
  .feedback-form__send-text {
    color: #333333;
    font-size: 14px;
  }
}
.input-text-group {
  width: 280px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .input-text-group:first-child {
    padding-right: 43px;
    margin-right: 44px;
    border-right: #e5e5e5 1px solid;
  }
}
@media (min-width: 768px) {
  .input-text-group:last-child {
    padding-left: 44px;
  }
}
@media (min-width: 1200px) {
  .input-text-group {
    width: 410px;
  }
}
.input-text-group__title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}
.input-text-group__label {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.input-text-group__input {
  width: 280px;
  border: none;
  background-color: #f2f2f2;
  padding: 16px;
  color: #000000;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 1200px) {
  .input-text-group__input {
    width: 430px;
  }
}
.input-text-group__input--icon {
  width: 222px;
}
@media (min-width: 1200px) {
  .input-text-group__input--icon {
    width: 344px;
  }
}
.input-text-group__icon {
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-group {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .radio-group {
    border-top: #e5e5e5 1px solid;
  }
}
@media (min-width: 1200px) {
  .radio-group {
    width: 960px;
    justify-content: space-between;
  }
}
.radio-group__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}
.radio-group__impression-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}
.radio-group__label {
  margin-bottom: 16px;
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  .checkbox-group {
    border-top: #e5e5e5 1px solid;
  }
}
@media (min-width: 1200px) {
  .checkbox-group {
    width: 960px;
    justify-content: space-between;
  }
}
.checkbox-group__label {
  width: 280px;
  margin-bottom: 16px;
}
@media (min-width: 1200px) {
  .checkbox-group__label {
    width: auto;
  }
}
.checkbox-group__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}
.checkbox-group__visit-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}
.textarea-group {
  border: none;
}
@media (min-width: 768px) {
  .textarea-group {
    border-top: #e5e5e5 1px solid;
  }
}
@media (min-width: 1200px) {
  .textarea-group {
    width: 960px;
    display: flex;
    justify-content: center;
  }
}
.textarea-group__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
}
.textarea-group__comment {
  width: 279px;
  min-height: 150px;
  padding: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  border: none;
  background-color: #f2f2f2;
  resize: none;
}
@media (min-width: 768px) {
  .textarea-group__comment {
    width: 648px;
  }
}
@media (min-width: 1200px) {
  .textarea-group__comment {
    width: 768px;
  }
}
/*# sourceMappingURL=style.css.map */
